{% extends 'base.html' %} {% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
    <h2 class="title-page">Search Result</h2>
    {% else %}
    <h2 class="title-page">Our Store</h2>
    {% endif %}
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title" style="color: rgb(66, 66, 66);">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show bg-dark" id="collapse_1">
              <div class="card-body">
                <ul class="list-menu">
                  <li><a href="{% url 'store' %}" style="color:coral;font-weight:800;">All Products </a></li>
                  {% for category in links %}
                  <li>
                    <a href="{{ category.get_url }}"
                    style="color:coral;font-weight:800;">{{ category.category_name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>


<!-- Add this form to your existing HTML template -->
<!-- Add this form to your existing HTML template -->
<article class="filter-group">
  <header class="card-header">
    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
      <i class="icon-control fa fa-chevron-down"></i>
      <h6 class="title" style="color: rgb(66, 66, 66);">Price range</h6>
    </a>
  </header>
  <div class="filter-content collapse show" id="collapse_3" style="">
    <div class="card-body bg-dark rounded-bottom">
      <form method="get">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ price_filter_form.min_price.id_for_label }}" style="color: coral;font-weight:800;">Min Price</label>
            {{ price_filter_form.min_price }}
        </div>
        <div class="form-group">
            <label for="{{ price_filter_form.max_price.id_for_label }}"style="color: coral;font-weight: 800;">Max Price</label>
            {{ price_filter_form.max_price }}
        </div>
        <button type="submit" class="btn custom-button text-capitalize">search&nbsp;&nbsp;
          <i class="fas fa-search" style="color:coral;"></i>
        </button>
    </form>
    
    </div>
  </div>
</article>


          <!-- filter-group .// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"
              ><b>{{ p_count }}</b> items found
            </span>
          </div>
        </header>
        <!-- sect-heading -->

        <div class="row">
          {% if products %} {% for product in products %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <a href="{{ product.get_url }}"
                  ><img src="{{ product.images.url }}"
                /></a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{ product.get_url }}" class="title"
                    ><span style="font-weight: 800;font-size: 112%;">{{ product.product_name }}</span></a
                  >

                  <!-- price-wrap.// -->
                </div>
                <div class="mb-2">
                  <div class="price-wrap d-flex justify-content-between align-items-center">
                    <span class="price">Price: <span style="color: black;font-weight: 600;">$</span><span style="font-weight: 800;color:black"> {{ product.price }}</span></span>
                    <span style="color: black;">
                      {% if product.stock <= 0 %}
                          <span style="font-weight: 800; color: red;">Out of Stock&nbsp;</span>
                      {% else %}
                          Stock: <span style="font-weight: 800;">{{ product.stock }}&nbsp;</span>
                      {% endif %}
                  </span>
                  </div>
                  {{product.reviews}}
                </div>
                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="rating-star">
                      <span>
                        <i
                        class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                        aria-hidden="true"
                      ></i>
                      <i
                        class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                        aria-hidden="true"
                      ></i>
                      <i
                        class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                        aria-hidden="true"
                      ></i>
                      <i
                        class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                        aria-hidden="true"
                      ></i>
                      <i
                        class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                        aria-hidden="true"
                      ></i>
    
                  </div>
                  <p style="font-weight: 800;color:black;">&nbsp;&nbsp;{{product.averageReview}}</p>
                  </div>
                    <!-- More rating stars... -->
              <span><span style="font-weight: 600;color:#282727;">Reviews:&nbsp;</span><span style="font-weight: 800;color:black;">{{product.countReview}}&nbsp;</span></span>
            </span>
                </div>

                <a
                  href="{{ product.get_url }}"
                  class="btn btn-block custom-button mt-4"
                  >View Details
                </a>
              </figcaption>
            </figure>
          </div>
          <!-- col.// -->
          {% endfor %} {% else %}
          <div>
            <h2>No result found. Please try again.</h2>
          </div>
          {% endif %}
        </div>
        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{products.previous_page_number}}"
                >Previous</a
              >
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Previous</a>
            </li>
            {% endif %} 
            {% for i in products.paginator.page_range %} 
            {% if products.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %} {% endfor %} {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{products.next_page_number}}"
                >Next</a
              >
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock %}
