{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg mt-5 pt-5">

{% include 'includes/alerts.html' %}
<div class="container pt-5">
	<div class="row">
	{% include 'accounts/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your order history</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Order #</th>
				      <th scope="col">Billing Name</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Order Total</th>
							<th scope="col">Date</th>
				    </tr>
				  </thead>
				  <tbody>
						{% for order in orders %}
				    <tr>
				      <th scope="row"><a href="{% url 'order_detail' order.order_number %}" style="color:coral;font-weight:800;" class="link">{{order.order_number}}</a></th>
				      <td style="font-weight:700;">{{order.full_name}}</td>
				      <td style="font-weight:700;">{{order.phone}}</td>
				      <td style="font-weight:700;"><span style="color: darkgreen;font-weight: 700;">$</span><span style="font-weight: 800;color:black;">{{order.order_total}}</span></td>
							<td style="font-weight:700;">{{order.created_at}}</td>
				    </tr>
				{% endfor %}

				  </tbody>
				</table>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}