

{% extends 'base.html' %}
{% load static %}
{% block content %}

{% comment %} migrating from here  {% endcomment %}



      {% comment %} Original 
	  
	  <!--Home-->
      <section id="home" style="background-image: url('{% static 'images/banners/back2.jpeg' %}');>
        <div class="container">
          <h5>NEW ARRIVALS</h5>
          <h1><span>Best Prices</span> This Season</h1>
          <p>Orange offers the best products for the most affordable prices</p>
         <a href="shop.php"><button>Shop Now</button></a> 
        </div>
      </section> 
	  
	  {% endcomment %}


	  <!-- Home -->
	<section id="home"
		style="
		background-image: url('{% static 'images/banners/back.jpeg' %}'); 
		background-size: cover;
		background-position-x: 200px;
		background-position-y: 80px;
		width: 100%;
    	height: 100vh;" class="pl-5">
		<div class="container pl-3">
			<h1 style="color: black;">NEW ARRIVALS</h1>
			<h1><span style="color: coral;" >Best Prices</span> This Season</h1>
			<p>
				<span style="color: #ff6b36; font-weight:800; font-size:118%">Orange</span> <span class="text-capitalize" style="color: black;"><span style="font-weight: 600;color:black;">offers the best products for the most </span><span class="" style="font-weight: 900; color:#ff6b36 ;font-size:118%">affo<span style="color: #1e1e1e;"></span>rdable price<span style="color: #1e1e1e;">s</span></span><span style="font-weight: 900;font-size:118%;color:black;">!!!</span></span>
			</p>
			<a href="{% url 'store' %}"><button style="font-weight: 900;border-radius:7px;">Shop Now</button></a>
		</div>
	</section>
  

	<!-- Brand -->
	<section id="brand" class="container">
		<div class="container">
			<div class="container">
				<div class="row m-0">
					<img class="img-fluid col-lg-3 col-md-6 col-sm-12" src="{% static 'images/assets/brand1.jpeg' %}" />
					<img class="img-fluid col-lg-3 col-md-6 col-sm-12" src="{% static 'images/assets/brand2.jpeg' %}" />
					<img class="img-fluid col-lg-3 col-md-6 col-sm-12" src="{% static 'images/assets/brand3.jpeg' %}" />
					<img class="img-fluid col-lg-3 col-md-6 col-sm-12" src="{% static 'images/assets/brand4.jpeg' %}" />
				</div>
			</div>
		</div>
	</section>



<!-- New Section -->
<section id="new" class="w-100  pt-3">
    <h1 class="text-center" style="font-weight:800;">New In Our Store</h1>
    <hr class="rounded mx-auto">
    <div class="row p-0 m-0">
        {% for product in products|dictsortreversed:"modified_date"|slice:":3" %}
            <div class="one col-lg-4 col-md-12 col-sm-12 p-0">
                <img class="img-fluid" src="{{ product.images.url }}" />
                <div class="details">
                    <h2 style="font-weight: bold;">{{ product.product_name }}</h2>
                    <a href="{{product.get_url}}">
                        <button class="text-uppercase rounded">Shop Now</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>



  



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

{% comment %} <div class="intro-banner-wrap">
	<img src="{% static 'images/banners/cover.png' %}" class="img-fluid rounded">
</div> {% endcomment %}

</div> <!-- container //  -->
</section>





<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= Popular SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="container text-center mt-5 py-5">
			<h3>Poular Products</h3>
			<hr class="mx-auto" style="border-radius: 2px;">
			<p>Here you can check out our most Popular products</p>
		</div>

        <div class="row">
            {% for product in products|dictsortreversed:"sold" %}
            {% if forloop.counter <= 4 %} {# Limit to the top 4 products #}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title"
                        ><span style="font-weight: 800;font-size: 112%;">{{ product.product_name }}</span></a
                      >
                        
                        <!-- price-wrap.// -->
                
                    </figcaption>
                    <div class="mb-3">
                        <div class="price-wrap d-flex justify-content-between align-items-center">
                          <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: <span style="color: black;font-weight: 600;">$</span><span style="font-weight: 800;color:black"> {{ product.price }}</span></span>
                          <span style="color: black;">
                            {% if product.stock <= 0 %}
                                <span style="font-weight: 800; color: red;">Out of Stock&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% else %}
                                Stock: <span style="font-weight: 800;">{{ product.stock }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                        </span>
                        </div>
                        {{product.reviews}}
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="rating-star">
                            &nbsp;&nbsp;&nbsp;
                            <span>
                              <i
                              class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
          
                        </div>
                        <p style="font-weight: 800;color:black;">&nbsp;&nbsp;{{product.averageReview}}</p>
                        </div>
                          <!-- More rating stars... -->
                    <span><span style="font-weight: 600;color:#282727;">Reviews:&nbsp;</span><span style="font-weight: 800;color:black;">{{product.countReview}}&nbsp;&nbsp;&nbsp;</span></span>
                  </span>
                      </div>
                      <a
                      href="{{ product.get_url }}"
                      class="btn btn-block custom-button mt-3 mb-3 w-75 mx-auto"
                      >View Details
                    </a>
                </div>
                
            </div> <!-- col.// -->
            {% endif %}
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->







      <!--Banner-->
      <section id="banner" class="my-5 py-5" style="background-image: url({% static 'images/banners/banner.jpeg' %});">
        <div class="container pl-5" >
          <h4 style="font-weight:900;">MID SEASON'S SALE</h4>
          <h1 style="font-weight:900;">Autumn Collection <br> Get In With New Trends</h1>
          <a href="{% url 'store' %}"><button class="text-uppercase" style="border-radius:7px;"><span class="" style="font-weight: 800;font-size:118%">Shop Now</span></button></a> 
        </div>
      </section>





<!-- ========================= Coats SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="container text-center mt-5 py-5">
            <h3>Dresses & Coats</h3>
            <hr class="mx-auto" style="border-radius: 2px;">
            <p class="text-capitalize">Here you can check out our amazing clothes</p>
        </div>

        <div class="row">
            {% for product in category_products.Coats %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title"
                        ><span style="font-weight: 800;font-size: 112%;">{{ product.product_name }}</span></a
                      >
               
                    </figcaption>
                    <div class="mb-3">
                        <div class="price-wrap d-flex justify-content-between align-items-center">
                          <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: <span style="color: black;font-weight: 600;">$</span><span style="font-weight: 800;color:black"> {{ product.price }}</span></span>
                          <span style="color: black;">
                            {% if product.stock <= 0 %}
                                <span style="font-weight: 800; color: red;">Out of Stock&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% else %}
                                Stock: <span style="font-weight: 800;">{{ product.stock }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                        </span>
                        </div>
                        {{product.reviews}}
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="rating-star">
                            &nbsp;&nbsp;&nbsp;
                            <span>
                              <i
                              class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
          
                        </div>
                        <p style="font-weight: 800;color:black;">&nbsp;&nbsp;{{product.averageReview}}</p>
                        </div>
                          <!-- More rating stars... -->
                    <span><span style="font-weight: 600;color:#282727;">Reviews:&nbsp;</span><span style="font-weight: 800;color:black;">{{product.countReview}}&nbsp;&nbsp;&nbsp;</span></span>
                  </span>
                      </div>
                      <a
                      href="{{ product.get_url }}"
                      class="btn btn-block custom-button mt-3 mb-3 w-75 mx-auto"
                      >View Details
                    </a>
                </div>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->








<!-- ========================= Shoes SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="container text-center mt-5 py-5">
            <h3>Shoes</h3>
            <hr class="mx-auto" style="border-radius: 2px;">
            <p class="text-capitalize">Here you can check out our amazing shoes</p>
        </div>

        <div class="row">
            {% for product in category_products.Shoes %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title"
                        ><span style="font-weight: 800;font-size: 112%;">{{ product.product_name }}</span></a
                      >
                        
                        <!-- price-wrap.// --> 
                    </figcaption>
                    <div class="mb-3">
                        <div class="price-wrap d-flex justify-content-between align-items-center">
                          <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: <span style="color: black;font-weight: 600;">$</span><span style="font-weight: 800;color:black"> {{ product.price }}</span></span>
                          <span style="color: black;">
                            {% if product.stock <= 0 %}
                                <span style="font-weight: 800; color: red;">Out of Stock&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% else %}
                                Stock: <span style="font-weight: 800;">{{ product.stock }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                        </span>
                        </div>
                        {{product.reviews}}
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="rating-star">
                            &nbsp;&nbsp;&nbsp;
                            <span>
                              <i
                              class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
          
                        </div>
                        <p style="font-weight: 800;color:black;">&nbsp;&nbsp;{{product.averageReview}}</p>
                        </div>
                          <!-- More rating stars... -->
                    <span><span style="font-weight: 600;color:#282727;">Reviews:&nbsp;</span><span style="font-weight: 800;color:black;">{{product.countReview}}&nbsp;&nbsp;&nbsp;</span></span>
                  </span>
                      </div>
                      <a
                      href="{{ product.get_url }}"
                      class="btn btn-block custom-button mt-3 mb-3 w-75 mx-auto"
                      >View Details
                    </a>
                </div>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






<!-- ========================= Watches SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="container text-center mt-5 py-5">
            <h3>Best Watches</h3>
            <hr class="mx-auto" style="border-radius: 2px;">
            <p class="text-capitalize">Check out our unique Watches</p>
        </div>

        <div class="row">
            {% for product in category_products.Watches %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title"
                        ><span style="font-weight: 800;font-size: 112%;">{{ product.product_name }}</span></a
                      >
                        
                        <!-- price-wrap.// -->
                
                    </figcaption>
                    <div class="mb-3">
                        <div class="price-wrap d-flex justify-content-between align-items-center">
                          <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: <span style="color: black;font-weight: 600;">$</span><span style="font-weight: 800;color:black"> {{ product.price }}</span></span>
                          <span style="color: black;">
                            {% if product.stock <= 0 %}
                                <span style="font-weight: 800; color: red;">Out of Stock&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% else %}
                                Stock: <span style="font-weight: 800;">{{ product.stock }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                        </span>
                        </div>
                        {{product.reviews}}
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="rating-star">
                            &nbsp;&nbsp;&nbsp;
                            <span>
                              <i
                              class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
          
                        </div>
                        <p style="font-weight: 800;color:black;">&nbsp;&nbsp;{{product.averageReview}}</p>
                        </div>
                          <!-- More rating stars... -->
                    <span><span style="font-weight: 600;color:#282727;">Reviews:&nbsp;</span><span style="font-weight: 800;color:black;">{{product.countReview}}&nbsp;&nbsp;&nbsp;</span></span>
                  </span>
                      </div>
                      <a
                      href="{{ product.get_url }}"
                      class="btn btn-block custom-button mt-3 mb-3 w-75 mx-auto"
                      >View Details
                    </a>
                </div>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->








<!-- ========================= Bags SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <div class="container text-center mt-5 py-5">
            <h3>Bags</h3>
            <hr class="mx-auto" style="border-radius: 2px;">
            <p class="text-capitalize">Here you can check out our amazing bags</p>
        </div>

        <div class="row">
            {% for product in category_products.Bags %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title"
                        ><span style="font-weight: 800;font-size: 112%;">{{ product.product_name }}</span></a
                      >
                        
                        <!-- price-wrap.// -->
                    
                    </figcaption>
                    <div class="mb-3">
                        <div class="price-wrap d-flex justify-content-between align-items-center">
                          <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: <span style="color: black;font-weight: 600;">$</span><span style="font-weight: 800;color:black"> {{ product.price }}</span></span>
                          <span style="color: black;">
                            {% if product.stock <= 0 %}
                                <span style="font-weight: 800; color: red;">Out of Stock&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% else %}
                                Stock: <span style="font-weight: 800;">{{ product.stock }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                        </span>
                        </div>
                        {{product.reviews}}
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="rating-star">
                            &nbsp;&nbsp;&nbsp;
                            <span>
                              <i
                              class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
                            <i
                              class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                              aria-hidden="true"
                            ></i>
          
                        </div>
                        <p style="font-weight: 800;color:black;">&nbsp;&nbsp;{{product.averageReview}}</p>
                        </div>
                          <!-- More rating stars... -->
                    <span><span style="font-weight: 600;color:#282727;">Reviews:&nbsp;</span><span style="font-weight: 800;color:black;">{{product.countReview}}&nbsp;&nbsp;&nbsp;</span></span>
                  </span>
                      </div>
                      <a
                      href="{{ product.get_url }}"
                      class="btn btn-block custom-button mt-3 mb-3 w-75 mx-auto"
                      >View Details
                    </a>
                </div>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->










</body>
</html>

{% endblock %}
